@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@layer base {
  * { box-sizing: border-box; margin: 0; padding: 0; }
  html { scroll-behavior: smooth; }
  body {
    background: #0a0a0a;
    color: #f0ede8;
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
 /*{  cursor: none;}*/
  }
  ::-webkit-scrollbar { width: 3px; }
  ::-webkit-scrollbar-track { background: #0a0a0a; }
  ::-webkit-scrollbar-thumb { background: #c8783a; border-radius: 2px; }
  ::selection { background: rgba(200,120,58,0.3); color: #f0ede8; }

  input, textarea, button { font-family: 'Space Grotesk', sans-serif; }
}

@layer utilities {
  .font-display { font-family: 'Bebas Neue', sans-serif; }
  .font-mono-custom { font-family: 'Space Mono', monospace; }

  .border-border { border-color: rgba(255,255,255,0.06); }
  .border-border-hover { border-color: rgba(255,255,255,0.12); }

  .bg-surface { background: #1a1a1a; }
  .bg-surface-2 { background: #222222; }

  .section-padding { padding: 6rem 3rem 6rem 8rem; }
  
  @media (max-width: 1024px) {
    .section-padding { padding: 5rem 1.5rem; }
  }
  @media (max-width: 640px) {
    .section-padding { padding: 4rem 1rem; }
  }

  .grid-border {
    display: grid;
    gap: 1px;
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.06);
  }
}

/* Hide cursor on interactive elements to show custom cursor */

.bg-grid {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px
    );

  background-size: 20px 20px;
}

.bg-grid-large {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.12) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.12) 1px,
      transparent 1px
    );

  background-size: 80px 80px;
}